<ion-header>
  <ion-toolbar>
    <ion-title>
      {{kk}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      Item
    </ion-label>
  </ion-item>

  <!-- Item as a Button -->
  <ion-item (click)="buttonClick()">
    <ion-label>
      Button Item
    </ion-label>
  </ion-item>

  <!-- Item as an Anchor -->
  <ion-item (click)="toastClick()">
    <ion-label>
      Anchor Item
    </ion-label>
  </ion-item>

  <ion-item color="secondary" (click)="change()">
    <ion-label>
      Secondary Color Item
    </ion-label>
  </ion-item>
</ion-content>
